h1 {
    color: white;
    text-shadow: red 1px 0 10px;
    background-color: aqua;
    width: 500px;
}

.theme, .project, .game, .learn {
    color: red;
    background-color: wheat;
    padding: 5px;
    border-left: 6px solid red;
    margin-top: 20px;
}

h3 {
    color: darkred;
    margin-top: 15px;
}

a:link {
    color: rgb(199, 23, 23);
}
a:visited {
    color: rgb(26, 26, 130);
}
a:hover {
    text-decoration: none;
}